@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.invisible {
    display: none;
}

.delete-person {
    opacity: 0;
    transition: 500ms;
}