<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Deleted List</title>
</head>

<body>

    <div class="app">
        <header>
            <a th:href="@{/person/form}" class="btn btn-new-contact">New Contact</a>
            <a th:href="@{/logout}" class="btn btn-logout">Logout</a>
            <a th:href="@{/person/list}" class="btn btn-deleted-list">Return Home List</a>
        </header>
        <hr class="hr">

        <div class="search-contact">
            <input class="search-contact-input" placeholder="Search Name">
        </div>
        </form>

        <table>
            <thead>
                <th>Nome</th>
                <th>Contato</th>
                <th>Redes Sociais</th>
                <th>Data De Nascimento</th>
                <th>Actions</th>
            </thead>

            <tbody>
                <tr class="tr-pessoa" th:each="person : ${people}">
                    <td class="td-nome" th:text="${person.value.nome}" />
                    <td th:text="${person.value.contato}" />
                    <td>
                        <div class="social__media__links"><a class="btn btn-social-media" target="_blank"
                                th:href="${person.value.linkFacebook}" th:text="Facebook" />
                            <a class="btn btn-social-media" target="_blank" th:href="${person.value.linkInstagram}"
                                th:text="Instagram" />
                        </div>
                    </td>
                    <td class="td-data-nascimento" th:text="${person.value.dataNascimento}" />
                    <td>
                        <div class="btn-actions"><a class="btn btn-restore"
                                th:href="@{/person/restore(personId=${person.value.id})}">Restore</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/ListAll.js}"></script>

</body>

</html>